<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule ^$ /web_views/template/    [L]
   RewriteRule (.*) /web_views/template/$1 [L]
   #RewriteRule ^$ /web_themes/template/    [L]
   #RewriteRule (.*) /web_themes/template/$1 [L]
</IfModule>
